{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}
{% block content %}
<div class="container bg-light" style="border: rgb(211, 211, 211) solid 24px;">

    <h1 style="color:black; font-size: 3em; font-weight: bold;">Modifier Mot de Passe</h1>
<br><br>
<div>
    <ul>
<li>Your password can’t be too similar to your other personal information.</li>
<li>Your password must contain at least 8 characters.</li>
<li>Your password can’t be a commonly used password.</li>
<li>Your password can’t be entirely numeric.</li>
</ul>
</div>

<div class="form-group">
<form method="POST">
<!-- Permet d'éviter les attaques par authentification dissimulée dans un form -->
    {% csrf_token %}
    {{ form.as_p }}
    

</div>
<button class="btn btn-secondary">Change</button>
</div>
{% endblock %}