{% extends 'base.html' %}

{% block title %}Create a new Profile Page {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Create Profile Page</h1>
<br><br>


<div class="form-group">
<form method="POST" enctype="multipart/form-data">
<!-- Permet d'éviter les attaques par authentification dissimulée dans un form -->
    {% csrf_token %}
    
    {{ form.as_p }}

</div>


<button class="btn btn-secondary">Create Profile</button>
{% else %}
You are not allowed here !
{% endif %}
{% endblock %}