{% extends 'base.html' %}

{% block title %}Modifier Profil{% endblock %}
{% block content %}
<div class="container bg-light" style="border: rgb(211, 211, 211) solid 24px;">
{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
    <h1 style="color:black; font-size: 3em; font-weight: bold;">Modifier Profil</h1>
<br><br>


<div class="form-group">
<form method="POST" enctype="multipart/form-data">
<!-- Permet d'éviter les attaques par authentification dissimulée dans un form -->
    {% csrf_token %}
   
    {{ form.as_p }}

</div>


<button class="btn btn-secondary">Modifier Profile</button>
{% else %}
<h1>You shall Not Pass !</h1>

{% endif %}
{% else %}
<h1>You shall Not Pass !</h1>
{% endif %}
</div>
{% endblock %}