{% extends 'base.html' %}

{% block title %}Create a new Blog Category {% endblock %}
{% block content %}
<div class="container bg-light" style="border: rgb(211, 211, 211) solid 24px;">
{% if user.is_authenticated %}
<h1 style="color:black; font-size: 3em; font-weight: bold;">Add Category</h1>
<br><br>


<div class="form-group">
<form method="POST">
<!-- Permet d'éviter les attaques par authentification dissimulée dans un form -->
    {% csrf_token %}
    {{ form.as_p }}
    

</div>
<button class="btn btn-secondary">Category</button>
{% else %}
<h1>You shall Not Pass !</h1>
{% endif %}
</div>
{% endblock %}